{{ define "main" }}
{{ $context := . }}
<div class="row flex-l-nowrap" style="justify-content: center;">
  <div style="padding: 30px">
    <div>
      <div style="font-size: 38px; font-weight: bold;">Tutorials</div>
      <div style="margin-top: -11px">Learn by completing hands-on exercises</div>
      <div style="display: flex; flex-wrap: wrap; margin-top: 20px;" class="tutorials-container">
        {{ range $index, $element := .Site.Menus.tutorials -}}
          {{ $count := 0 }}
          {{ $link := "" }}
          {{ range $tutorialsPageIndex, $tutorialsPage := where $.Site.Pages "Params.Menu.Tutorials.Parent" $element.Identifier }}
            {{ $count = add $count 1 }}
            {{ if eq $tutorialsPageIndex 0 }}
              {{ $link = $tutorialsPage.RelPermalink }}
            {{ end }}
          {{ end }}
          <div class="tutorials-card">
            <a href="{{ $link }}">
              <div class="info">
                {{ $context.Scratch.Set "category" $element.Params.category }}
                {{ partial "icons/tutorials-category-icon.html" $context }}
                <div style="display: flex; align-items: center; color: rgb(51, 51, 51); padding: 6px;">
                  <div><img src="/icons/tutorial.png" width="23" height="23" style="margin-top: -7px;" /></div>
                  <div class="curriculum-listing-info">
                    {{ $count }} tutorials
                  </div>
                </div>
              </div>
              <div class="mainback" style="background: url('{{ $element.Params.Image }}') no-repeat center;">
                <div class="title">
                  <div style="padding: 6px">
                    {{ $element.Name }}
                  </div>
                </div>
              </div>
            </a>
          </div>
        {{ end -}}
      </div>
    </div>
    <!--
    <div style="margin-top: 15px">
      <div style="font-size: 34px; font-weight: bold;">Tutorials</div>
      <div style="margin-top: -11px">
        <span>Looking for specific exercises to increase your knowledge in Web3?</span>
        <span></span>
      </div>
      <div style="display: flex; overflow-x: scroll;">
        {{ range $index, $element := where .Site.RegularPages "Section" "tutorials" -}}
        <div style="min-width: 300px; max-width: 300px; border: 1px solid #e7e7e7; border-radius: 6px 6px 6px 6px; padding: 8px; background-color: #f5f5f5; margin-right: 10px;">
            <div style="display: flex; align-content: center; justify-content: space-between;">
              <div style="display: inline-flex; align-items: center; color: white; width: auto; padding: 0px; border-radius: 6px 6px 6px 6px">
                <img src="/logos/ipfs.svg" width="25" height="25" />
                <div style="font-weight: bold; font-size: 20px; margin-left: 3px; color: #181818;">IPFS</div>
              </div>
              <div style="font-weight: bold; font-size: 20px; color: #00a400;">
                Easy
              </div>
            </div>
            <div style="width: 100%; height: 1px; background-color: #e3e3e3; margin-top: 6px; margin-bottom: 6px;"></div>
            <div style="font-size: 26px; font-weight: bold;">{{ $element.Name }}</div>
            <div>
              {{ $element.Description }}
            </div>
          </div>
        {{ end -}}
      </div>
    </div>

    <div style="margin-top: 15px">
      <div style="font-size: 34px; font-weight: bold;">Curriculum</div>
      <div style="margin-top: -11px">A more guided way to learn about Protocol Labs technologies</div>
      <div style="display: flex;">
        {{ range $index, $element := where .Site.RegularPages "Section" "tutorials" -}}
        <div style="width: 400px; max-width: 400px; border-radius: 6px 6px 6px 6px; background-color: black; border: 1px solid #f5f5f5; margin-right: 10px;">
          <div style="display: flex; align-items: flex-end; width: 100%; height: 200px; border-radius: 6px 6px 6px 6px; background: url('http://localhost:1313/logos/ipfs.svg') no-repeat center;">
            <div style="background-color: #f5f5f5; width: 100%; font-size: 24px; font-weight: bold; opacity: 0.96;">
              <div style="padding: 8px">
                Curriculum element
              </div>
            </div>
          </div>
        </div>
        {{ end -}}
      </div>
    </div>
    -->
  </div>
</div>
{{ end }}
