{{ $category := .Scratch.Get "category" }}

<div style="display: flex; align-items: center; color: rgb(51, 51, 51); padding: 6px;">
  {{ if eq $category "ipfs" }}
  <img src="/logos/ipfs.svg" width="23" height="23" />
  <div class="curriculum-listing-info">
    IPFS
  </div>
  {{ else if eq $category "libp2p" }}
  <img src="/logos/libp2p.png" width="22.9" height="26.4" />
  <div class="curriculum-listing-info">
    libp2p
  </div>
  {{ else if eq $category "fvm" }}
  <img src="/logos/fvm.png" width="14.71" height="22.30" />
  <div class="curriculum-listing-info">
    FVM
  </div>
  {{ else if eq $category "web3" }}
  <img src="https://cdn-icons-png.flaticon.com/128/1674/1674883.png" width="23.5" height="23.5" />
  <div class="curriculum-listing-info">
    Web3
  </div>
  {{ else }}
  <img src="/logos/ipld.png" width="23.17" height="26.34" />
  <div class="curriculum-listing-info">
    IPLD
  </div>
  {{ end }}
</div>
