@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-pl-dark-blue;
  }

  h1 {
    @apply text-5xl lg:text-4xl;
  }

  h3 {
    @apply text-5xl lg:text-base;
    line-height: 3.75rem;
    @apply lg:leading-5;
  }
}

@layer components {
  .button-primary {
    @apply bg-pl-dark-blue text-pl-gray;
    @apply text-2xl lg:text-base;
  }
}

.nav-brand {
  width: 7rem;
}

.split-word {
  padding-right: 5px;
}

.home-header_component {
  max-width: unset;
}

.lp-icon {
  display: block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
