{{ define "main" }}
<div class="row flex-xl-nowrap">
    <div class="col-lg-5 col-xl-4 docs-sidebar d-none d-lg-block">
        <nav class="docs-links" aria-label="Main navigation">
            {{ partial "sidebar/curriculum-menu.html" . }}
        </nav>
    </div>
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ if eq .CurrentSection .FirstSection }}{{ .Section | humanize }}{{ else }}{{ .Title }}{{ end }}</h1>
      <div class="text-center">{{ .Content }}</div>
			<div class="card-list">
				{{ $currentSection := .CurrentSection }}
				{{ range .Site.RegularPages }}
					{{ if or (eq .File.LogicalName "introduction.md") (ge (findRE ".*/introduction/index.md" .File.Path) 1) }}
						<div class="card my-3">
							<div class="card-body">
								<a class="stretched-link" href="{{ .RelPermalink }}">{{ .Params.title | title }} &rarr;</a>
							</div>
						</div>
					{{ end }}
				{{ end }}
			</div>
    </article>
  </div>
</div>
{{ end }}