{{ define "main" }}
<div class="row flex-l-nowrap" style="justify-content: center;">
  <div style="padding: 30px">
    <div>
      <div style="font-size: 30px">Tutorials</div>
      <div style="display: flex;">
        <div>
          <div style="max-width: 300px; border: 1px solid #e7e7e7; border-radius: 6px 6px 6px 6px; padding: 8px; background-color: #f5f5f5">
            <div style="display: inline-flex; align-items: center; margin-bottom: 15px; color: white; width: auto; padding: 5px; border-radius: 6px 6px 6px 6px">
              <img src="/logos/ipfs.svg" width="25" height="25" />
              <div style="font-weight: bold; font-size: 20px; margin-left: 3px; color: #181818;">IPFS</div>
            </div>
            <div style="font-size: 24px; font-weight: bold; margin-left: 5px">IPFS Desktop</div>
            <div>
              In this tutorial, you will get an introduction of IPFS Desktop, the graphical interface that you can use to interact with the files, folders, IPNS, pinning services, and more.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{{ end }}
