/** Custom styles */

.navbar {
    border: 0px;
}

.offcanvas.show .lp {
    color: black;
}

[data-dark-mode] .landing-steps {
    color: black;
}

[data-dark-mode] .landing-info {
    color: black;
}

[data-dark-mode] .landing-info a {
    color: black;
}

[data-dark-mode] .curriculum-listing {
    color: black;
}

[data-dark-mode] .curriculum-listing a {
    color: black;
}

[data-dark-mode] .content-level-selector-container {
    color: white;
}

[data-dark-mode] .content-level-selector {
    background-color: #212529;
    border-bottom: 1px solid white;
    text-align: center;
    color: white;
}

.offcanvas .show.nav-link.lp{
    color: black !important;
}

.nav-link.lp{
    color: white;
}

.nav-link.lp a:hover{
    color: white !important;
}

.nav a:hover{
    text-decoration: underline;
    color: white !important; 
}

.nav-link.lp.active {
    color: white;
    text-decoration: underline;
}

.curriculum-listing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.curriculum-listing a {
    text-decoration: none;
    color: black;
}
.nav-item a {
    color: red;
}
.nav-item a:hover {
    color: red;
}

.content-level-selector-container {
    color: black;
    text-align: center;
    font-size: 20px;
}

.content-level-selector {
    border: 0px solid white;
    border-bottom: 1px solid black;
    text-align: center;
}


/* LANDING 1 */

.landing-steps {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 850px;
    align-items: center;
    background-color: #f8f7f7;
    border: 1px solid #eeeded;
    border-radius: 10px;
    padding: 10px;
}

.landing-steps a {
    color: black;
}

.landing-steps a:hover {
    text-decoration: none;
}

@media (max-width: 700px) {
    .landing-steps {
        max-width: 300px;
    }

    .landing-steps .column {
        width: 100%;
        text-align: center;
        font-size: 30px;
    }

    .landing-arrow-right {
        display: none;
    }

    .landing-arrow-down {
        display: inline-block;
    }

    .landing-arrow {
        width: 100% !important;
        text-align: center;
        margin-top: 5px;
    }
}

@media (min-width: 700px) {
    .landing-steps .column {
        width: 31%;
        text-align: center;
        font-size: 35px;
    }

    .landing-arrow-right {
        display: inline-block;
    }

    .landing-arrow-down {
        display: none;
    }

    .landing-arrow {
        width: 3% !important;
    }
}


.landing-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 950px) {
    .landing-info .column {
        width: 100%;
        margin-right: 10px;
    }
}

@media (min-width: 950px) {
    .landing-info .column {
        width: calc(50% - 10px);
        margin-right: 10px;
    }
}


.landing-card {
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(213, 213, 213);
    width: 100%;
}

.landing-card-title {
    color: grey;
}

.landing-card-subtitle {
    font-size: 24px;
    font-weight: bold;
}

.landing-button {
    margin-right: 5px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid rgb(224, 224, 224);
    cursor: pointer;
}

.landing-button.selected {
    background-color: rgb(228, 244, 255); 
    border: 1px solid rgb(146, 219, 255);
}
